<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caça aos cangaceiros</title>
    <link rel="stylesheet" href="css/estilodoprejogo.css">
    <link rel="shortcut icon" href="images/Ponteiro.png" type="image/x-icon" />
</head>

</head>

<body>
    <header id="caixaTitulo">
        <img src="images/Caça aos cangaceiros.png" width="300px" height="150px" id="logo">
        <a href="index.php" class="btn conteudoNav">Jogo</a>
        <a href="prejogo.html" class="btn conteudoNav">Enredo do jogo</a>
        <a href="tabela.php" class="btn conteudoNav">Ranking</a>
    </header>

    <div id="enredo">
        <h1>Enredo</h1>
    </div>

    <article class="articlePersonagens">
        <div class="divImagens">
            <img src="images/Soldado.png" alt="Soldado" width="65px" height="102px">
        </div>

        <p class="textoPersonagens">O personagem principal, aquele que está atirando no canganceiro, foi inspirado em um
            policial da Polícia Militar chamado João Bezerra da Silva, do Estado de Alagoas,
            o qual ficou conhecido nacionalmente como o <strong>comandante da volante que pôs fim ao cangaceiro Lampião
                e seu bando,</strong>
            em 28 de julho de 1938 no município de Poço redondo, em Sergipe. Posteriormente, ele foi recebido no Palácio
            do Catete, pelo então
            Presidente Getúlio Dornelles Vargas, quando foi elogiado e recebeu honrarias pelo grande feito.</p>
    </article>
    <article class="articlePersonagens">
        <div class="divImagens">
            <img src="images/alvo.png" alt="Cangaçeiro" width="70px" height="102px">
        </div>
        <p class="textoPersonagens">O alvo foi inspirado no famoso cangaceiro nordestino Lampião, Virgulino Ferreira da
            Silva, o qual foi um cangaceiro
            brasileiro que atuou na região do sertão nordestino do Brasil. Segundo o biógrafo Cicinato Ferreira Neto, o
            apelido "Lampião" foi lhe dado devido ter facilidade em manejar o rifle,
            <strong>"que, de tanto atirar, mais parecia um candeeiro aceso nas escuras noites da caatinga”.</strong>
        </p>
    </article>


    <footer>
        <div class="creditos">
            <strong>Atividade de tiro ao alvo</strong>
            <p>Disciplina: Programação para internet <br>
                Professor: Marcelo Figueiredo Barbosa Júnior <br>
                IFRN - Campus Santa Cruz - RN
            </p>
        </div>
        <div class="creditos">
            <p>Todos direitos reservado à <strong>JuvaLana - Entreteniments</strong></p>
        </div>
        <div class="creditos">
            <strong>Desenvolvido por:</strong>
            <div class="nomes">
                <img src="images/PontoDaLista.png" width="15px" height="15px" alt="">
                Alana Costa Soares Santos
            </div>
            <div class="nomes">
                <img src="images/PontoDaLista.png" width="15px" height="15px" alt="">
                Juvam Rodrigues do Nascimento Neto
            </div>

        </div>
    </footer>
</body>

</html>