@font-face {
    font-family: "fonteTitulo";
    src: url("../fontes/VCR_OSD_MONO_1.001.ttf");
}
*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;


}
#caixaTitulo{
    text-align: left;
    background-color: #EDD14C;;
    padding: 1%;
    display: flex;
}


.conteudoHeader{
    margin-left: 10%;
    border: 1px solid black;
    text-decoration: none;
    color: #EDD14C;
    font-size: 20px;
    padding: 1%;
    border-radius: 12px;
    background-color: white;
    font-family: fonteTitulo;
    text-shadow: 0px 1px 0px rgb(0, 0, 0); /*deslocar no eixo x, deslocar no eixo y, valor do borramento da sombra, cor da sombra*/
    
}
.conteudoHeader:hover{
    background-color: #A35105;
    color: white;
    font-family: fonteTitulo;
    text-shadow: 0px 2px 0px rgb(0, 0, 0); /*deslocar no eixo x, deslocar no eixo y, valor do borramento da sombra, cor da sombra*/

}
#logo{
    background-color: white;
    border: 2px solid black;
    margin-left: 1%;
}

#enredo h1{
    font-family: fonteTitulo;
    text-align: center;
    margin-top: 2%;
}


.articlePersonagens{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    margin-top: 3%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1%;
}
.articlePersonagens:hover{
    background-color: #EDD14C;
    box-shadow: 0px 2px 5px rgb(0, 0, 0); /*deslocar no eixo x, deslocar no eixo y, valor do borramento da sombra, cor da sombra*/

}
.textoPersonagens{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.divImagens{
    margin-left: 2%;
    border: 1px solid black;
    padding: 1%;
    border-radius: 10px;
}
footer{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDD14C;
    padding: 2%;
    font-size: 15px;
    text-align: center;
    padding: 2%;

}
.creditos{
    margin-left: 2%;
}
header{
    align-items: center;
}
.submenu-trigger {
    position: relative;
    display: inline-block;
    margin-left: 10%;
    margin-right: 3%;
}
.submenu-trigger:hover{
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 108%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 12px;
}

.submenu a {
    display: block;
    font-family: fonteTitulo;
    padding: 10px;
    text-decoration: none;
    color: #ff0000;
}

.submenu a:hover {
    border-radius: 12px;
    background-color: #f0f0f0;
}
.submenu-trigger span{
    font-family: fonteTitulo;
}

