@font-face {
    font-family: "fonteTitulo";
    src: url("../fontes/VCR_OSD_MONO_1.001.ttf");
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#container {
    margin-top: 3%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#container>form>h1 {
    margin-bottom: 5%;
    font-family: "fonteTitulo";
    font-size: 3vw;

}

#caixaTitulo {
    text-align: left;
    background-color: #EDD14C;
    padding: 1%;
    display: flex;
}

header {
    align-items: center;
}

.conteudoHeader {
    margin-left: 10%;
    border: 1px solid black;
    text-decoration: none;
    color: #EDD14C;
    font-size: 20px;
    padding: 1%;
    border-radius: 12px;
    background-color: white;
    font-family: fonteTitulo;
    text-shadow: 0px 1px 0px rgb(0, 0, 0);
    /*deslocar no eixo x, deslocar no eixo y, valor do borramento da sombra, cor da sombra*/

}

.conteudoHeader:hover {
    background-color: #A35105;
    color: white;
    font-family: fonteTitulo;
    text-shadow: 0px 2px 0px rgb(0, 0, 0);
    /*deslocar no eixo x, deslocar no eixo y, valor do borramento da sombra, cor da sombra*/

}

#logo {
    background-color: white;
    border: 2px solid black;
    margin-left: 1%;
}

footer {
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDD14C;
    font-size: 15px;
    padding: 2%;
}

.creditos {
    margin-left: 2%;
}


header {
    display: flex;
}

#formlogin{
    padding: 4%;
    display: flex;
    flex-direction: column;
    /* Garante que os itens se empilhem verticalmente */
    border: black solid 1px;
    border-radius: 12px;
    width: 40%;
}

#nome,
#email,
#senha,
#enviar, #confirmacao {
    display: block;
    margin-bottom: 10px;
    height: 30px;
}
#enviar{
    margin: 10px auto; /* Centraliza o botão horizontalmente */
    width: 100px;
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
}
#enviar:hover{
    font-weight: bold;
    cursor: pointer;
    background-color: green;
    color: white;
    border: black solid 1px;
    border-radius: 5px;
}